:root{
    /* ## Colors */ 
    /* ### Primary */
    --GrayishBlue: hsl(237, 18%, 59%);
    --SoftRed: hsl(345, 95%, 68%);
    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --DarkDesaturatedBlue: hsl(236, 21%, 26%);
    --DarkDesaturatedBlue-0:  #2c2c46;
    --VeryDarkBlue-1: hsl(235, 16%, 14%);
    --VeryDarkBlue-2: hsl(234, 17%, 12%); /*(mostly black) */
}

body{
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
    background: linear-gradient(180deg, var(--VeryDarkBlue-2) 40%, var(--SoftRed) 800%);
    height: 100vh;
    overflow: hidden;
    transition: font-size 350ms;
}

/*background_____*/
.background{
    background-image: url(../images/bg-stars.svg);
    animation: background-img 100s infinite;
    height: 80%;
    background-position: top;
}

@keyframes background-img {
    from{
        background-position: 0px;
    }    
    to{
        background-position: -100vw;
    }
}

.img-moutains{
    position: absolute;
    bottom: 0;
} 
/*_________________*/

.container{
    min-width: 375px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    height: 90vh;
    display: grid;
    grid-template-rows: minmax(60px, 1.5fr) 2fr 1fr;
}

.title{
    align-self: center;
    color: var(--White);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: clamp(2em, 5vw, 3em);
    line-height: 1.4em;
    opacity: .9;
}

/*hours________*/
.clock{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    gap: clamp(10px, 5vw, 40px);
    height: 100%;
}

.box{
    width: clamp(50px, 20vw, 200px);

}

.back-number{
    height: clamp(50px, 20vw, 200px);
    width: 100%;
    background: linear-gradient( var(--DarkDesaturatedBlue-0) 0% 50%, var(--DarkDesaturatedBlue) 0% 0%);
    box-shadow: 0 10px 0 var(--VeryDarkBlue-2);
    position: relative !important;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 2em;
    /* overflow: hidden; */

    /*effect 3d*/
    perspective: 800px;
    border: 1px solid blue;
    line-height: 1.9em;
    color: var(--SoftRed);
    font-size: clamp(4em, 10vw, 9em);
    margin: 0;
}

.back-number::after,
.back-number::before{
    content: "";
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: var(--VeryDarkBlue-2);
    top: calc(50% - 5%);
    z-index: 100;
    right: 0;
    transform: translate(50%);
    border-radius: 50%;
    border: 1px solid green;
}

.back-number::before{
    left: 0;
    transform: translate(-50%);
}

.number-line{
    background-color: #00000020;
    height: 2px;
    width: 100%;
    position: absolute;
    top: calc(50% - 1px);
    z-index: 99;
}

.number{
    color: var(--SoftRed);
    margin: 0;
    padding: .2em 0;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid red;
    line-height: 1.5em;
}

@keyframes flip-card {
    100%{transform: rotateX(-90deg);}
}

/*___________*/

.number-top, .number-bottom{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 110%;
    box-sizing: inherit;
    overflow: hidden;
}

.number-top{
    animation: flipcardfront 5s linear infinite;
    background-color: var(--DarkDesaturatedBlue-0);
}

.number-bottom{
    animation: flipcardfront 5s linear infinite;
    background-color: var(--DarkDesaturatedBlue);
}







.text{
    color: var(--GrayishBlue);
    font-size: clamp(.6em, 2vw, 1em);
    text-transform: uppercase;
    letter-spacing: .3em;
    opacity: .8;
}

/*footer____*/
.attribution{
    align-self: end;
    bottom: 10vh;
    width: 100%;
}

.social-media{
    padding: 20px;
    position: relative;
}

.social-media a{
    display: inline-block;
    border-radius: 50%;
}

.fab{
    color: var(--GrayishBlue);
    margin: 15px;
    font-size: clamp(2em, 5vw,2.5em);
    transition: color 350ms;
    position: relative;
}

.fab:hover{
    color: var(--SoftRed);
}

.link{
    color: var(--GrayishBlue);
    transition: opacity 350ms;
    position: relative;
}

.link__a{
    color: var(--DarkDesaturatedBlue);
    transition: color 350ms;
}

.link__a:hover{
    color: var(--SoftRed);
}

/*____________*/

@media screen and (min-width: 1440px){
   .img-moutains{
       width: 100%;
   }
}

/* @keyframes flipcardfront {
    0% {
        transform: rotateX(180deg);
        box-shadow: 0 0 10px 1px #00000060;
    }
    70%{
        transform: rotateX(0deg);
        box-shadow: 0 0 10px 1px #00000060;
    }
    90%{
        transform: rotateX(60deg);
        box-shadow: 0 0 10px 1px #00000060;
    }
    100% {
        transform: rotateX(0deg);
        box-shadow: 0 0 10px 1px #00000060;
    }
}
  
@keyframes flipcard {
    0% {
        transform: rotateX(-180deg) translateY(0%);
    }
    100% {
        transform: rotateX(0deg);
    }
} */

/* --700 */
  /*    backface-visibility: hidden;  */