:root{
    /* ## Colors */ 
    /* ### Primary */
    --GrayishBlue: hsl(237, 18%, 59%);
    --SoftRed: hsl(345, 95%, 68%);
    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --DarkDesaturatedBlue: hsl(236, 21%, 26%);
    --DarkDesaturatedBlue-0:  #2c2c46;
    --VeryDarkBlue-1: hsl(235, 16%, 14%);
    --VeryDarkBlue-2: hsl(234, 17%, 12%); /*(mostly black) */
}

body{
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
    background: linear-gradient(var(--VeryDarkBlue-1) 0%, var(--VeryDarkBlue-2) 40%, var(--SoftRed) 1000%);
    height: 100vh;
    overflow: hidden;
    transition: font-size 350ms;
}
/*backgorun_____*/
.background{
    background-image: url(images/bg-stars.svg);
    animation: background 100s infinite;
    height: 80%;
}

.img-moutains{
    position: absolute;
    bottom: 0;
    overflow: hidden;
} 
/*_________________*/

.container{
    min-width: 375px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    height: 90vh;
    position: relative;
}

.title{
    margin: 15vh 0 12vh;
    color: var(--White);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 3vw;
    line-height: 1.4em;
}

/*hours________*/
.clock, .date{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 1em;
}

.box{
    background: linear-gradient( var(--DarkDesaturatedBlue-0) 0% 50%, var(--DarkDesaturatedBlue) 0% 0%);
    max-width: 20%;
    border-radius: 5px;
    position: relative;
    width: 20%;
}

.box::before{
    content: "";
    width: .6em;
    height: .6em;
    background: var(--VeryDarkBlue-2);
    display: block;
    position: absolute;
    right: -0.3em;
    bottom: calc(50% - .3em);
    border-radius: 50%;
}

.box::after{
    content: "";
    width: .6em;
    height: .6em;
    background: var(--VeryDarkBlue-2);
    display: block;
    position: absolute;
    left: -0.3em;
    bottom: calc(50% - .3em);
    border-radius: 50%;
}

.numer{
    color: var(--SoftRed);
    font-size: 10vw;
    margin: 0;
    padding: .3em 0;
}

.date{
    margin-top: 20px;
  
}

.text{
    color: var(--GrayishBlue);
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: .3em;
    opacity: .8;
    width: 20%;
}

/*footer____*/
.attribution{
    position: absolute;
    bottom: 10vh;
    width: 100%;
}

.social-media{
    padding: 20px;
}

.fab{
    color: var(--GrayishBlue);
    margin: 10px;
    font-size: 1.2em;
    transition: color 350ms;
}

.fab:hover{
    color: var(--SoftRed);
}

.link{
    opacity: .7;
    color: var(--GrayishBlue);
}

.link__a{
    color: var(--DarkDesaturatedBlue);
    transition: color 350ms;
}

.link__a:hover{
    color: var(--SoftRed);
}

@media screen and (min-width: 800px) {
    body{
        font-size: 20px;
    }
    .numer{
        font-size: 4em;
    } 
    .title{
        font-size: 1.3em;
    }
    .text, .box{
        width: 16%;
    }
}

@media screen and (min-width: 1450px){
   .img-moutains{
       width: 100%;
   }
}

@keyframes background {
    from{
        background-position: 0px;
    }    
    to{
        background-position: -100vw;
    }
}
/* --700 */