:root{
    /* ## Colors */ 
    /* ### Primary */
    --GrayishBlue: hsl(237, 18%, 59%);
    --SoftRed: hsl(345, 95%, 68%);
    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --DarkDesaturatedBlue: hsl(236, 21%, 26%);
    --VeryDarkBlue-1: hsl(235, 16%, 14%);
    --VeryDarkBlue-2: hsl(234, 17%, 12%); /*(mostly black) */
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
}


/* --700 */