:root{
    /* ## Colors */ 
    /* ### Primary */
    --GrayishBlue: hsl(237, 18%, 59%);
    --SoftRed: hsl(345, 95%, 68%);
    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --DarkDesaturatedBlue: hsl(236, 21%, 26%);
    --DarkDesaturatedBlue-0:  #2c2c46;
    --VeryDarkBlue-1: hsl(235, 16%, 14%);
    --VeryDarkBlue-2: hsl(234, 17%, 12%); /*(mostly black) */
}

body{
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
    background: linear-gradient(180deg, var(--VeryDarkBlue-2) 40%, var(--SoftRed) 800%);
    height: 100vh;
    overflow: hidden;
    transition: font-size 350ms;
}

/*background_____*/
.background{
    background-image: url(images/bg-stars.svg);
    animation: background 100s infinite;
    height: 80%;
    background-position: top;
}

.img-moutains{
    position: absolute;
    bottom: 0;
} 
/*_________________*/

.container{
    min-width: 375px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    height: 90vh;
    display: grid;
    grid-template-rows: minmax(60px, 1.5fr) 2fr 1fr;
}

.title{
    align-self: center;
    color: var(--White);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: clamp(2em, 5vw, 3em);
    line-height: 1.4em;
    opacity: .9;
}

/*hours________*/
.clock{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: clamp(10px, 5vw, 40px);
}

.box{
    width: clamp(50px, 20vw, 200px);
    position: relative;
    border-radius: 5px;
}

.numer{
    color: var(--SoftRed);
    font-size: clamp(4em, 10vw, 9em);
    margin: 0;
    padding: .2em 0;
    background: linear-gradient( var(--DarkDesaturatedBlue-0) 0% 50%, var(--DarkDesaturatedBlue) 0% 0%);
    border-radius: 5px;
    box-shadow: 0 10px 0 var(--VeryDarkBlue-2);
    margin-bottom: 20px;
}

.numer-top{
    box-shadow: none;
}

.text{
    color: var(--GrayishBlue);
    font-size: clamp(.6em, 2vw, 1em);
    text-transform: uppercase;
    letter-spacing: .3em;
    opacity: .8;
}

/*footer____*/
.attribution{
    align-self: end;
    bottom: 10vh;
    width: 100%;
}

.social-media{
    padding: 20px;
}

.fab{
    color: var(--GrayishBlue);
    margin: 15px;
    font-size: clamp(2em, 5vw,2.5em);
    transition: color 350ms;
    position: relative;
}

.fab:hover{
    color: var(--SoftRed);
}

.link{
    opacity: .3;
    color: var(--GrayishBlue);
    transition: opacity 350ms;
}

.link:hover{
    opacity: .9;
}

.link__a{
    color: var(--DarkDesaturatedBlue);
    transition: color 350ms;
}

.link__a:hover{
    color: var(--SoftRed);
}

/*___________*/
.numer-top{
    position: absolute;
    width: 100%;
    height: 62%;
    top: 0;
    right: 0;
    overflow: hidden;
    animation: flipcard 1s infinite;
    background: linear-gradient( var(--DarkDesaturatedBlue-0) 0% 50%, var(--DarkDesaturatedBlue) 0% 0%);
    border: 1px solid red;
}
/*____________*/

@media screen and (min-width: 1440px){
   .img-moutains{
       width: 100%;
   }
}

@keyframes background {
    from{
        background-position: 0px;
    }    
    to{
        background-position: -100vw;
    }
}


/* --700 */


@keyframes flipcardTop {
    0% {
      transform: rotateX(0deg) rotateY(0%);
    }
    100% {
      transform: rotateX(-180deg) rotateY(40%);
    }
  }
  
  @keyframes flipcard {
    0% {
      transform: rotateX(180deg) translateY(0%);
    }
    100% {
      transform: rotateX(0deg) translateY(20%);
    }
  }